/* Hoja de estilo que aplica un FLEXBOX LAYOUT a una sección que contiene un titulo y un vídeo*/
/*Especificidad: 0,0,1*/
section{
    border-style: solid;
    border-color: black;
    border-width: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(236, 129, 182, 0.199);
    color:white;
  }

  /*Especificidad: 0,0,1*/
  video{
    flex:2;
    display: block;
    width: 30%;
    padding: 5px;
  }

  /*Especificidad: 0,0,1*/
  h3{
    color:rgb(236, 129, 183);
    flex: 1;
    font-size: 30px;
    text-align: center;
    background-color: rgba(236, 129, 182, 0);
  }