/* Hoja de estilo que aplica un GRID LAYOUT a un main que contiene tres secciones */
/*Especificidad: 0,0,1*/
main{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 5%;
    padding: 5px;
}

/*Especificidad: 0,0,2*/
main>h2{
    grid-column:1/4;
    text-align: center;
}

/*Especificidad: 0,0,2*/
main>p{
    grid-column:1/4;
    text-align: center;
}

/*Especificidad: 0,1,2*/
main>section:nth-child(0n+3){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

/*Especificidad: 0,1,2*/
main>section:nth-child(0n+4){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

/*Especificidad: 0,1,2*/
main>section:nth-child(0n+5){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    
}

/*Especificidad: 0,0,2*/
main>section {
    padding: 10px;
    background-color: rgba(236, 129, 182, 0.199);
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
    border-radius: 10px;
}

/*Especificidad: 0,0,2*/
section>h3{
    font-size: 150%;
    color:rgb(236, 129, 183);
    background-color: rgba(236, 129, 182, 0);
}


