/* Hoja de estilo que aplica un GRID LAYOUT a una sección con un título, un párrafo, dos fotos y un video */
/*Especificidad: 0,0,1*/
section{
    border-style: solid;
    border-color: black;
    border-width: 5px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    background-color: rgba(236, 129, 182, 0.199);
    color: white;
}

/*Especificidad: 0,0,2*/
section>h3{
    grid-column:1/4;
    text-align: center;
    font-size: 30px;
    color:rgb(236, 129, 183);
    background-color:rgba(236, 129, 182, 0);
}

/*Especificidad: 0,0,2*/
section>p{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}

/*Especificidad: 0,0,2*/
section>figure{
    text-align: center;
}

/*Especificidad: 0,1,2*/
section>figure:nth-child(0n+3){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

/*Especificidad: 0,1,2*/
section>figure:nth-child(0n+4){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

/*Especificidad: 0,1,2*/
section>div:nth-child(0n+5){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    width: 80%;
}

/*Especificidad: 0,0,1*/
video{
    width: 100%;
}

/*Especificidad: 0,0,1*/
h4{
    margin-top:0px;
    background-color: gray;
    color: white;
    font-size: 140%;
}



